In [1]:
#Question 1
#for loop 
""" for loop is used when you know how much time you need to run the lopp or we can say you kniw the range . in for loop firstly code is run after that it checks the condtion ."""

' for loop is used when you know how much time you need to run the lopp or we can say you kniw the range . in for loop firstly code is run after that it checks the condtion .'

In [2]:
#for example 
a = [1,2,4]
for i in a :
    print(i)

1
2
4

In [3]:
#while loop 
""" in this loop , loop firsly check the condition after that it start sun and  run until it satisfies or counter the condition """

' in this loop , loop firsly check the condition after that it start sun and  run until it satisfies or counter the condition '

In [4]:

#for example 
a = 0 
while 4>a:
    print(a)
    a=a+1

0
1
2
3

In [5]:
#question 2 
#Write a python program to print the sum and product of the first 10 natural numbers using for loop
s=0
p=1

for i in range(1,11):
    s=s+i
    p=p*i
print("sum:", s)
print("product:",p)

sum: 55
product: 3628800

In [6]:
# and while loop
s=0
counter = 1
p=1
while 10>=counter :
    s=s+counter
    p=p*counter
    counter= counter+1
print("sum:",s)
print("product:",p)

sum: 55
product: 3628800

In [7]:
#Question 3

In [17]:
total_units = int(input("enter your unit"))
bill=0
if total_units <=100:
    bill= total_units*4.5
elif total_units <=200 :
    bill=100*4.5+ (total_units - 100)*6
elif total_units <=300 :
    bill = 100*4.5 + 100*6 + (total_units - 200)*10
else :
    bill = 100*4.5 + 100*6 + 100*10 +(total_units - 300)*20
print("total bill:",bill)

enter your unit 310

total bill: 2250.0

In [ ]:
#question 4

In [29]:
#using for loop 
cube =[]
for i in range(1,101):
    p = i **3
    if p%4 ==0 or p%5==0 :
        cube.append(i)
print(cube)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [28]:
#using while loop
counter=1
cube_list = []
while 100>=counter:
    p = counter**3
    if p%4 ==0 or p%5==0 :
        cube_list.append(counter)
    counter=counter+1
print(cube_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [33]:
#question 5
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count= 0
for i in string :
    if i in vowels :
        count=count+1
print("vowels count :", count)

vowels count : 12